.submenu
  .c
    ul
      li: a(href='#about') О НАС
      li: a(href='#history') ИСТОРИЯ КОМПАНИИ
      li: a(href='#licenses') ЛИЦЕНЗИЯ И АККРЕДИТАЦИЯ
      li: a(href='#team') НАША КОМАНДА
      li: a(href='#career') КАРЬЕРА
      li: a(href='#laws') ЗАКОНОДАТЕЛЬСТВО
