.submenu
  background: #fbfbfb

  ul
    display: flex
    align-items: center
    height: 65px
    flex-wrap: wrap
    @media (max-width: $breakpoint-sm)
      height: auto
      padding: 12px 0

  li
    display: inline-block
    vertical-align: middle
    font-size: 11px
    font-weight: 500
    margin: 6px 23px 6px 0
    @media (max-width: $breakpoint-sm)
      font-size: 9px
      margin: 6px 14px 6px 0

  a
    padding-bottom: 3px