.eventForm
  padding: 10px 0 80px
  @media (max-width: $breakpoint-sm)
    padding: 10px 0 40px
  &__inner
    border: 7px solid $grey-middle
    padding: 50px
    display: flex
    @media (max-width: $breakpoint-sm)
      border: 0
      flex-direction: column
      padding: 0

  &__text
    margin-bottom: 24px
    p
      font-size: 16px
      line-height: 1.55
      margin-bottom: 12px
    a
      padding-bottom: 2px

  &__info
    display: flex
    flex-direction: column
    width: 540px
    margin-right: 20px
    justify-content: flex-start
    align-items: flex-start
    @media (max-width: $breakpoint-sm)
      width: 100%
      margin-right: 0
      align-items: center

  &__link
    font-size: 15px
    color: $blue
    text-decoration: underline

    @media (max-width: $breakpoint-sm)
      text-align: center
      margin-bottom: 18px
      font-size: 13px

  &__title
    font-family: 'Bebas Neue', sans-serif;
    flex: 1
    font-size: 50px
    line-height: 60px
    display: flex
    align-items: center
    @media (max-width: $breakpoint-sm)
      font-size: 25px
      line-height: 35px
      text-align: center
      margin-bottom: 10px

  &__date
    font-family: 'Bebas Neue Book', sans-serif
    font-size: 20px
    @media (max-width: $breakpoint-sm)
      font-size: 15px
      margin-bottom: 40px

  &__day
    font-family: 'Bebas Neue', sans-serif
    font-size: 30px
    @media (max-width: $breakpoint-sm)
      display: inline-block
      font-size: 15px
      margin-right: 8px

  &__form
    width: 380px
    margin-left: auto
    @media (max-width: $breakpoint-sm)
      width: 100%
      border: 7px solid $grey-middle
      padding: 30px

  &__input
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

    &--checkbox
      display: flex
      justify-content: center