#team-popup.popupTeam
  .popupTeam__aside
    img.popupTeam__image(src='https://placehold.it/170x230')
    .popupTeam__name Спиридонов Федор
    .popupTeam__position Управляющий партнер

  .popupTeam__content
    p Осуществляет общее руководство Группой компаний SRG.
    ul
      li Осуществляет общее руководство Группой компаний SRG.
      li Принимает активное участие в общественной деятельности, направленной на развитие рынка консалтинговых услуг.
      li Состоит в Совете по оценочной деятельности при Минэкономразвития России.
      li Возглавляет рабочую группу по автоматизации в Ассоциации банков России.
      li Окончил Московский государственный университет имени М.В. Ломоносова по специальности «Прикладная математика».
      li Прошел профессиональную переподготовку в МИПК РЭА им. Г.В. Плеханова по специализации «Оценка стоимости предприятия», программу повышения квалификации Института профессиональной оценки по направлениям «Практика оценки инвестиционных проектов» и «Оценочная деятельность».
