#callback.popup
  .form__form
    .form__row
      h2 НАЗВАНИЕ ФОРМЫ
    .form__row
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    .form__row
      .form__input.input
        label.input__label Ваше имя
        input.input__input
    .form__row
      .form__input.input
        label.input__label Ваша почта
        input.input__input
    .form__row
      label.checkbox
        input.checkbox__input(type='checkbox')
        .checkbox__text Я согласен(а) на #[a(href='#') обработку персональных данных]
    .form__row
        button.bigBtn ПОЛУЧИТЬ РАСЧЕТ
