.includes.greyBg
  .c
    .includes__title
      h2 #[span В УСЛУГУ] ВХОДИТ
    .includes__items
      ul
        li Помощь в определении количества#[br] рабочих мест, подлежащих СОУТ
        li Расчет стоимости спецоценки с учетом аналогичных мест
        li Выезд инженеров для проведения инструментальных замеров
        li Оформление результатов проведения специальной оценки условий труда на унифицированном бланке отчета
        li Бесплатная подготовка декларации соответствия условий труда
