.importantInfo
  .c
    .importantInfo__image
      img(src='modules/importantInfo/img/importantInfo-img.jpg')
    .importantInfo__content
      h2  СУПЕР ВАЖНАЯ ИНФОРМАЦИЯ! КАПЕЦ КАКАЯ ВАЖНАЯ!
      p Описание супер важной информации Описание супер важной информации Описание супер важной информации Описание супер важной информации Описание супер важной информации Описание супер важной информации Описание супер важной информации Описание супер важной информации
      a.btn
        |ПОДРОБНЕЕ
        svg: use(xlink:href="#arrow_right")
