.cases.block
  .c
    .blockHeader
      .blockHeader__title Кейсы
      a.blockHeader__aside.blockHeader__aside--showSm(href='#') Смотреть все #[span ❯]

    .cases__items
      each i in [1,2,3,4]
        .cases__item(class=(i === 1 ? 'cases__item--active' : ''))
          .cases__header(style='background-image:url(' + require('src/modules/cases/img/cases-bg.jpg') + ')')
            span ПАО «ТГК-2»
            .cases__arrow: svg: use(xlink:href="#chevron_left")
          .cases__body
            .cases__content
              p Описание:
              p Масштабная кампания по комплексному управлению строительными проектами на любой стадии, Компания предоставляет и услуги по организации и управлению ремонтами технологического оборудования. Филиалы компании распространены по всей территории РФ: в Красноярском крае, Свердловской, Кемеровской и Иркутской областях.
              p Местоположение:
              p Республика Хакасия, г Саяногорск
              p Цель заказчика:
              if(i === 2)
                p Провести специальную оценку условий труда (СОУТ) и производственный контроль (ПК) с разработкой программы ПК
                p Выполненные работы: Спецоценка была выполнена в полном объеме и в установленный срок. Работы в рамках ПК (замеры) проводятся специалистами SRG-ECO два раза в год.

