.fines
  .c
    h2.fines__title ШТРАФНЫЕ САНКЦИИ
    .fines__content
      .fines__slider
        .fines__slides
          .fines__slide
            .fines__text: p В случае несвоевременной подачи отчетности по культуре безопасности в Министерство труда предусмотрены следующие штрафы
            .fines__items
              .fines__item
                .fines__link: span Несвоевременная подача отчета
                .fines__number 250 000 руб.
              .fines__item
                .fines__link: span Несвоевременная подача отчета
                .fines__number 250 000 руб.
              .fines__item
                .fines__link: span Несвоевременная подача отчета
                .fines__number 250 000 руб.
          .fines__slide
            .fines__text: p В случае несвоевременной подачи отчетности по культуре безопасности в Министерство труда предусмотрены следующие штрафы
            .fines__items
              .fines__item
                .fines__link: span Несвоевременная подача отчета
                .fines__number 250 000 руб.
              .fines__item
                .fines__link: span Несвоевременная подача отчета
                .fines__number 250 000 руб.
              .fines__item
                .fines__link: span Несвоевременная подача отчета, Несвоевременная подача отчета
                .fines__number 250 000 руб.
      .fines__arrows
        button.fines__arrow.fines__arrow--left: svg: use(xlink:href="#arrow_right")
        button.fines__arrow.fines__arrow--right: svg: use(xlink:href="#arrow_right")
