.fines
  .c
    h2.fines__title ШТРАФНЫЕ САНКЦИИ
    .fines__text: p В случае несвоевременной подачи отчетности по культуре  безопасности в Министерство труда предусмотрены следующие штрафы
    .fines__slider
      .fines__items
        div: .fines__item
          a.fines__link(href='#') Несвоевременная подача отчета
          .fines__number 250 000 руб.
        div: .fines__item
          a.fines__link(href='#') Несвоевременная подача отчета
          .fines__number 250 000 руб.
        div: .fines__item
          a.fines__link(href='#') Несвоевременная подача отчета
          .fines__number 250 000 руб.
      .fines__arrows
        button.fines__arrow.fines__arrow--left: svg: use(xlink:href="#arrow_right")
        button.fines__arrow.fines__arrow--right: svg: use(xlink:href="#arrow_right")
