mixin clientCard()
  .clientCard
    .clientCard__image
      img(src='modules/clients/1.png')
      .clientCard__name Газпром
    .clientCard__content
      .clientCard__date 01 июня 2016
      .clientCard__title ЧТО БЫЛО СДЕЛАНО ПРО ПРОЕКТУ
      .clientCard__text
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
      .clientCard__footer
        .clientCard__row
          a.clientCard__link.clientCard__link--testimonial(href='#') ОТЗЫВ
          a.clientCard__link.clientCard__link--video(href='#') ВИДЕО
        .clientCard__row
          a.clientCard__social(href='#'): svg: use(xlink:href="#vk")
          a.clientCard__social(href='#'): svg: use(xlink:href="#fb")
          a.clientCard__social(href='#'): svg: use(xlink:href="#ok")
          a.clientCard__social(href='#'): svg: use(xlink:href="#mail")