mixin clientCard()
  .clientCard
    .clientCard__image(style='background-image: url(https://source.unsplash.com/random/280x280?random&1)')
      .clientsCard__head
        .clientsCard__title АО «СОГАЗ»
        .clientsCard__subtitle Местоположение Местоположение

    .clientCard__content
      .clientsCard__body
        .clientsCard__h
          svg.clientsCard__arrow: use(xlink:href="#chevron_left")
          | ОБЪЕКТ:
        .clientsCard__p: .clientsCard__p-inner
          p Ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
          p Ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.

        .clientsCard__h
          svg.clientsCard__arrow: use(xlink:href="#chevron_left")
          | ЦЕЛЬ:
        .clientsCard__p: .clientsCard__p-inner
          p Cum sociis natoque penatibu

        .clientsCard__h
          svg.clientsCard__arrow: use(xlink:href="#chevron_left")
          | СРОКИ:
        .clientsCard__p: .clientsCard__p-inner
          p Sit amet, consectetuer

        .clientsCard__h
          svg.clientsCard__arrow: use(xlink:href="#chevron_left")
          | ВЫПОЛНЕННЫЕ РАБОТЫ:
        .clientsCard__p: .clientsCard__p-inner
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.

        .clientsCard__h
          svg.clientsCard__arrow: use(xlink:href="#chevron_left")
          | РЕЗУЛЬТАТЫ:
        .clientsCard__p: .clientsCard__p-inner
          p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

