include ../card/card

.team
  .c
    .team__headers
      h2.team__title.team__title--active.team__title--primary.link НАША КОМАНДА
      h2.team__title.link РАБОТА У НАС
      h2.team__title.link НАМ ТРЕБУЮТСЯ

    .team__tabs
      #team.team__tab.team__tab--active
        .team__team
          .team__aside
            +card(href='#team-popup').card--sm.popup__opener
              .team__image.team__image--big.card__image(style='background-image: url(https://source.unsplash.com/random/380x505?random&1)')
              .card__content
                .card__title Дмитрий Смирнов
                .card__text руководитель направления
          .team__items
            .team__item: +card().card--sm
              .team__image.card__image(style='background-image: url(https://source.unsplash.com/random/380x215?random&1)')
              .card__content
                .card__title Дмитрий Смирнов
                .card__text руководитель направления
            .team__item: +card().card--sm
              .team__image.card__image(style='background-image: url(https://source.unsplash.com/random/380x215?random&2)')
              .card__content
                .card__title Дмитрий Смирнов
                .card__text руководитель направления
            .team__item: +card().card--sm
              .team__image.card__image(style='background-image: url(https://source.unsplash.com/random/380x215?random&3)')
              .card__content
                .card__title Дмитрий Смирнов
                .card__text руководитель направления
            .team__item: +card().card--sm
              .team__image.card__image(style='background-image: url(https://source.unsplash.com/random/380x215?random&4)')
              .card__content
                .card__title Дмитрий Смирнов
                .card__text руководитель направления

      .team__tab
        .team__info
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          p Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus.

      #career.team__tab
        .team__work: +card()
          .card__content.team__content
            .team__name: .card__title Менеджер по продажам
            .team__salary з/п от 45 000 рублей
            .team__location
              .team__label место работы
              div м. Бауманская
            .team__button: button.bigBtn ОТКЛИКНУТЬСЯ

        .team__work: +card()
          .card__content.team__content
            .team__name: .card__title Менеджер по продажам
            .team__salary з/п от 45 000 рублей
            .team__location
              .team__label место работы
              div м. Бауманская
            .team__button: button.bigBtn ОТКЛИКНУТЬСЯ
        .team__work: +card()
          .card__content.team__content
            .team__name: .card__title Менеджер по продажам
            .team__salary з/п от 45 000 рублей
            .team__location
              .team__label место работы
              div м. Бауманская
            .team__button: button.bigBtn ОТКЛИКНУТЬСЯ
        .team__work: +card()
          .card__content.team__content
            .team__name: .card__title Менеджер по продажам
            .team__salary з/п от 45 000 рублей
            .team__location
              .team__label место работы
              div м. Бауманская
            .team__button: button.bigBtn ОТКЛИКНУТЬСЯ
