.problems
  h2.problems__title ЧАЩЕ ВСЕГО #[a(href='#') К НАМ ОБРАЩАЮТСЯ] СО СЛЕДУЮЩИМИ ПРОБЛЕМАМИ
  .c: .problems__items
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/binoculars.png')
      .problems__text Срочное проведение производственного#[br]контроля перед проверкой
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/padnote.png')
      .problems__text Подготовка к проверкам#[br]без головной боли
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/maps-and-flags.png')
      .problems__text Установление границ#[br]санитарно-защитных зон
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/file.png')
      .problems__text Разработка с нуля документов#[br]по охране труда
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/handshake.png')
      .problems__text Налаживание работы#[br]службы охраны труда
    .problems__item: a.problems__content(href='#')
      img.problems__image(src='modules/problems/medal.png')
      .problems__text Проведение#[br]срочной спецоценки
