.workSteps
  .c
    h2.workSteps__title #[.link ЭТАПЫ ПРОВЕДЕНИЯ] РАБОТ
    .workSteps__items
      .workSteps__item
        .workSteps__step 1
        .workSteps__content
          .workSteps__name Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

      .workSteps__item
        .workSteps__step 2
        .workSteps__content
          .workSteps__name Название этапа Название этапа Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

      .workSteps__item
        .workSteps__step 3
        .workSteps__content
          .workSteps__name Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

      .workSteps__item
        .workSteps__step 4
        .workSteps__content
          .workSteps__name Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

    .workSteps__items.workSteps__items--reverse
      .workSteps__item
        .workSteps__step 5
        .workSteps__content
          .workSteps__name Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

      .workSteps__item
        .workSteps__step 6
        .workSteps__content
          .workSteps__name Название этапа
          .workSteps__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

