.eventHead(style='background-image: url(modules/frontSlider/slide.jpg)')
  .c: .eventHead__inner
    .eventHead__breadcrumbs
      include ../breadcrumbs/breadcrumbs

    .eventHead__head
      .eventHead__label Семинар
      .eventHead__content
        h1.eventHead__title ВСТРЕЧА ДИРЕКТОРОВ ЧАСТНЫХ МЕДИЦИНСКИХ УЧРЕЖДЕНИЙ
        .eventHead__date 20-21 марта 2019 года

