.eventHead(style='background-image: url(' + require('src/modules/frontSlider/slide.jpg') + ')')
  .c.eventHead__row
    .eventHead__content
      .eventHead__breadcrumbs
        include ../breadcrumbs/breadcrumbs
      .eventHead__label Семинар
      h1.eventHead__title ВСТРЕЧА ДИРЕКТОРОВ ЧАСТНЫХ МЕДИЦИНСКИХ УЧРЕЖДЕНИЙ
      .eventHead__action
        a.btn.btn--filled ПОДРОБНЕЕ

    .eventHead__aside
      .eventHead__item
        .eventHead__icon: svg: use(xlink:href="#thumbUp")
        | Бесплатно
      .eventHead__item
        .eventHead__icon: svg: use(xlink:href="#calendar")
        | 29 сентября 2020
      .eventHead__item
        .eventHead__icon: svg: use(xlink:href="#clock")
        | 10:00 - 11:00

      .btn.btn--yellow.btn--block.btn--big: b ЗАРЕГИСТРИРОВАТЬСЯ
