.serviceOrder
  padding: 40px 0
  @media (max-width: $breakpoint-sm)
    padding: 0
    margin-top: -75px

  &__inner
    display: flex
    @media (max-width: $breakpoint-sm)
      flex-direction: column-reverse

  &__text
    max-width: 680px
    margin-right: 20px
    font-size: 13px
    line-height: 1.8em
    @media (max-width: $breakpoint-sm)
      font-size: 11px

    p
      margin-bottom: 1.8em

      &:last-child
        margin-bottom: 0

  &__aside
    position: relative
    margin-left: auto
    width: 380px
    flex-shrink 0
    @media (max-width: $breakpoint-sm)
      width: 100%

  &__form
    //position: absolute
    background: $grey-bright
    margin-top: -400px
    //bottom: 0
    padding: 40px

    @media (max-width: $breakpoint-sm)
      position: static
      padding: 35px
      margin-bottom: 38px
      margin-top: 0

  &__input
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

    &--checkbox
      display: flex
      justify-content: center
