block html
doctype html
html
  head
    title SRG
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" media="all" href="style.css")
    //link(rel="shortcut icon" href="/favicon.ico")

  body(onunload="")
    include ../modules/header/header
    block body
    include ../modules/footer/footer

    include ../modules/photoswipe/photoswipe
    .hidden
      include ../modules/popup/popup-callback
      include ../modules/popup/popup-team
      include ../modules/popup/popup-thanks

  script.
    var MAP_API_KEY = "AIzaSyAKCWqbAVy8AsekfYEuddPMtdb5xMpC9pk";
    var MAP_CENTER = [53.189798, 45.039265];
    var MAP_ZOOM = 16;
  script(src='js/app.js')

  svg#sprites(xmlns="http://www.w3.org/2000/svg").
    <symbol id="magnifier" viewBox="0 0 200 200">
      <path d="M68.1,1C37.2,7.5,12.5,30.1,2.8,61,.8,67.6.5,70.5.5,85s.3,17.4,2.3,24c9,28.5,29.7,49.2,58.2,58.2,6.6,2,9.5,2.3,24,2.3s17.4-.3,24-2.3c8.8-2.8,19.7-8.1,26.1-12.8l4.7-3.4,24.7,24.6,24.6,24.7,5.5-5.4c3-2.9,5.4-5.7,5.4-6.2s-3.5-4.4-7.9-8.7-7.6-8.1-7.3-8.4.1-.6-.5-.6c-1.2,0-32.3-30.7-32.3-31.9a18.49,18.49,0,0,1,2.6-4.2c3.9-5.2,10-17.7,12.6-25.9,2-6.6,2.3-9.5,2.3-24s-.3-17.4-2.3-24c-8.9-28.3-29.4-48.9-57.7-58C103.8,1.2,99.7.7,87.5.4,79.3.2,70.5.5,68.1,1Zm32.7,16.6c12.3,2.6,22.3,8.3,32.8,18.8,14.3,14.5,20.5,29,20.5,48.6s-6.2,34.2-20.5,48.6c-14.6,14.5-29,20.5-49.1,20.5-19.4-.1-33.6-6.1-48.1-20.5-14.3-14.4-20.5-29-20.5-48.6s6.2-34.2,20.5-48.6C54.7,18.2,75,12.3,100.8,17.6Z"/>
    </symbol>
    <symbol id="hamburger" viewBox="0 0 319 200">
      <path d="M319,0H0V18H319V0Z"/><path d="M319,91H110v18H319V91Z"/><path d="M319,182H52v18H319V182Z"/>
    </symbol>
    <symbol id="close" viewBox="0 0 239 241">
      <path d="M7.2,6C3.8,9.4,1,12.7,1,13.3S24.6,38.1,53.5,67l52.4,52.4L53,172.4c-29.2,29.1-53,53.4-53,54s3.3,4.3,7.2,8.1,7,6.6,6.6,6.2c-.7-.9,38.9-40.7,40.5-40.7.6,0,.8-.2.5-.5-.7-.7,27.1-28.5,28.5-28.5.6,0,.8-.2.5-.5-.7-.7,27.1-28.5,28.5-28.5.6,0,.8-.3.5-.6-.6-.5,6-7.4,7.1-7.4.3,0,24.5,23.9,53.7,53.1l53.2,53.1,6.1-6.2c3.3-3.5,6.1-6.8,6.1-7.4s-23.6-24.7-52.5-53.6S134,120.2,134,119.8c0-1,18.2-18.8,19.3-18.8.6,0,.8-.2.5-.5-.7-.7,27.1-28.5,28.5-28.5.6,0,.8-.2.5-.6-.7-.7,39.1-40.4,40.5-40.4.6,0,.8-.3.4-.6s2.8-3.8,6.9-7.7S238,14.8,238,14s-2.8-4.4-6.3-7.8L225.4-.1l-53,53-52.9,53-53.1-53-53-53Z"/>
    </symbol>
    <symbol id="skype" viewBox="0 0 300 300">
        <path d="m289.39 181.85a141.16 141.16 0 0 0 -161.95-169.29 81.8 81.8 0 0 0 -114.1 110.64 141.18 141.18 0 0 0 164.07 167.09 81.82 81.82 0 0 0 112-108.44zm-65.46 37.15c-6.53 9.24-16.17 16.56-28.66 21.75s-27.21 7.75-44.09 7.75c-20.26 0-37.25-3.56-50.51-10.6a66.21 66.21 0 0 1 -23.23-20.61c-6-8.65-9-17.22-9-25.49a17.69 17.69 0 0 1 5.89-13.32 20.73 20.73 0 0 1 14.67-5.48 18.7 18.7 0 0 1 12.43 4.33c3.25 2.75 6 6.82 8.27 12.08a71.21 71.21 0 0 0 8.1 14.37 31.25 31.25 0 0 0 11.83 9.15c5.12 2.42 12 3.65 20.49 3.65 11.66 0 21.23-2.49 28.42-7.4 7-4.8 10.44-10.55 10.44-17.6 0-5.57-1.78-9.95-5.45-13.38a38.54 38.54 0 0 0 -15.05-8.3c-6.41-2-15.12-4.15-25.88-6.41-14.59-3.12-27-6.83-36.86-11h-.11c-10.12-4.3-18.27-10.27-24.24-17.74s-9.13-17.09-9.13-28.28a45.86 45.86 0 0 1 9.58-28.55c6.31-8.23 15.52-14.62 27.39-19 11.71-4.33 25.64-6.52 41.4-6.52 12.6 0 23.68 1.46 32.92 4.33s17.14 6.81 23.3 11.62 10.82 10 13.72 15.42a34 34 0 0 1 4.43 16 20.23 20.23 0 0 1 -20.28 19.67c-5.23 0-9.31-1.28-12.15-3.79-2.64-2.33-5.38-6-8.42-11.21a46.56 46.56 0 0 0 -12.66-15.67c-4.74-3.61-12.67-5.44-23.56-5.44-10.11 0-18.34 2-24.44 6-5.89 3.86-8.74 8.28-8.74 13.52a12.44 12.44 0 0 0 2.81 8.21 25.37 25.37 0 0 0 8.44 6.44 62.28 62.28 0 0 0 11.36 4.4c3.92 1.09 10.5 2.7 19.52 4.78 9.51 2 18.36 4.29 26.42 6.69 1.62.48 3.22 1 4.77 1.47a100.67 100.67 0 0 1 24.13 11 48.11 48.11 0 0 1 15.91 16.8c3.81 6.77 5.74 15.13 5.74 24.84a53.52 53.52 0 0 1 -9.92 31.52z"/>
    </symbol>
    <symbol id="telegram" viewBox="0 0 300 300">
        <path d="m5.3 144.65 69.13 25.8 26.76 86a8.14 8.14 0 0 0 12.92 3.89l38.53-31.34a11.5 11.5 0 0 1 14-.39l69.51 50.39a8.15 8.15 0 0 0 12.76-4.93l50.91-244.85a8.15 8.15 0 0 0 -10.91-9.22l-283.69 109.4a8.15 8.15 0 0 0 .08 15.25zm91.57 12.07 135.13-83.22a2.35 2.35 0 0 1 2.84 3.73l-111.53 103.64a23.11 23.11 0 0 0 -7.16 13.83l-3.8 28.15a3.49 3.49 0 0 1 -6.82.49l-14.6-51.34a13.6 13.6 0 0 1 5.94-15.29z"/>
    </symbol>
    <symbol id="whatsapp" viewBox="0 0 512 512">
        <path d="M256.06 0h-.13C114.78 0 0 114.82 0 256a254.1 254.1 0 0 0 48.74 150l-31.9 95.1 98.4-31.46A253.79 253.79 0 0 0 256.06 512C397.22 512 512 397.15 512 256S397.22 0 256.06 0zM405 361.5c-6.18 17.44-30.69 31.9-50.24 36.13-13.38 2.85-30.85 5.12-89.66-19.26-75.21-31.17-123.66-107.62-127.44-112.58-3.62-5-30.4-40.48-30.4-77.22s18.66-54.62 26.18-62.3c6.18-6.3 16.38-9.18 26.18-9.18 3.17 0 6 .16 8.58.29 7.52.32 11.3.77 16.26 12.64 6.18 14.88 21.22 51.62 23 55.39s3.65 8.9 1.09 13.86c-2.4 5.12-4.51 7.39-8.29 11.74s-7.36 7.68-11.14 12.35c-3.46 4.06-7.36 8.42-3 15.94 4.35 7.36 19.39 31.9 41.54 51.62 28.58 25.44 51.74 33.57 60 37 6.18 2.56 13.54 2 18-2.85 5.73-6.18 12.8-16.42 20-26.5 5.12-7.23 11.58-8.13 18.37-5.57 6.91 2.4 43.49 20.48 51 24.22s12.48 5.57 14.3 8.74S411.2 344 405 361.5z"/>
    </symbol>
    <symbol id="vk" viewBox="0 0 304.36 304.36">
        <path d="m261.95 175.58c10.1 9.86 20.75 19.13 29.81 30a87.11 87.11 0 0 1 10.68 15.42c4.11 8 .39 16.71-6.75 17.18h-44.34c-11.44.95-20.56-3.65-28.23-11.47-6.14-6.25-11.82-12.91-17.73-19.37a42 42 0 0 0 -8-7.09c-6.05-3.93-11.31-2.73-14.77 3.59s-4.32 13.53-4.67 20.69c-.48 10.44-3.63 13.19-14.12 13.66-22.41 1.06-43.69-2.33-63.45-13.64-17.42-10-30.93-24-42.69-40-22.89-31-40.43-65.11-56.19-100.15-3.5-7.94-.92-12.18 7.8-12.33 14.47-.28 28.93-.26 43.41 0 5.88.09 9.77 3.46 12 9a269.09 269.09 0 0 0 29.42 54.52c3.2 4.52 6.46 9 11.11 12.22 5.14 3.52 9.06 2.35 11.48-3.37a37.83 37.83 0 0 0 2.59-11.44c1.15-13.38 1.3-26.74-.71-40.08-1.23-8.32-5.92-13.71-14.23-15.29-4.24-.8-3.61-2.38-1.56-4.8 3.56-4.17 6.92-6.77 13.6-6.77h50.11c7.89 1.56 9.64 5.1 10.72 13v55.66c-.09 3.07 1.54 12.19 7.07 14.23 4.43 1.45 7.35-2.1 10-4.9 12-12.73 20.56-27.78 28.21-43.37 3.4-6.85 6.31-14 9.14-21.08 2.1-5.28 5.38-7.87 11.33-7.76h48.23a25.44 25.44 0 0 1 4.26.26c8.13 1.39 10.35 4.88 7.84 12.82-4 12.45-11.65 22.83-19.17 33.25-8 11.13-16.64 21.88-24.62 33.07-7.33 10.22-6.75 15.38 2.36 24.25z"/>
    </symbol>
    <symbol id="fb" viewBox="0 0 310 310">
        <path d="m81.7 165.11h34v139.89a5 5 0 0 0 5 5h57.6a5 5 0 0 0 5-5v-139.24h39.06a5 5 0 0 0 5-4.43l5.93-51.5a5 5 0 0 0 -5-5.57h-45v-32.26c0-9.73 5.24-14.67 15.58-14.67h29.43a5 5 0 0 0 5-5v-47.33a5 5 0 0 0 -5-5h-40.55c-.29 0-.92 0-1.86 0-7 0-31.49 1.38-50.8 19.15-21.4 19.69-18.43 43.27-17.72 47.36v37.75h-35.67a5 5 0 0 0 -5 5v50.84a5 5 0 0 0 5 5.01z"/>
    </symbol>
    <symbol id="ok" viewBox="0 0 57 95">
        <path d="m23.82 66.79c-7.36-.77-14-2.58-19.69-7-.71-.55-1.43-1.09-2.08-1.7-2.49-2.39-2.74-5.13-.77-7.95 1.72-2.44 4.52-3.09 7.46-1.7a11.51 11.51 0 0 1 1.63 1 32.28 32.28 0 0 0 35.79.33 9.7 9.7 0 0 1 3.49-1.8 5.47 5.47 0 0 1 6.27 2.5c1.56 2.54 1.54 5-.38 7a28.9 28.9 0 0 1 -10.41 6.73 48.85 48.85 0 0 1 -11.83 2.59c.61.66.89 1 1.27 1.37 5.47 5.5 11 11 16.42 16.48a5.43 5.43 0 0 1 1.23 6.36 6.48 6.48 0 0 1 -6.08 3.79 5.92 5.92 0 0 1 -3.85-2c-4.12-4.09-8.29-8.17-12.37-12.4-1.18-1.23-1.74-1-2.78.07-4.14 4.27-8.38 8.48-12.62 12.67a5.29 5.29 0 0 1 -6.39 1.14 6.46 6.46 0 0 1 -3.73-5.94 6 6 0 0 1 2-4q8.12-8.11 16.21-16.24c.39-.36.69-.74 1.21-1.3z"/>
        <path d="m28.31 48a24 24 0 1 1 24.19-23.77 24.06 24.06 0 0 1 -24.19 23.77zm11.94-24.1a11.76 11.76 0 1 0 -11.69 11.79 11.71 11.71 0 0 0 11.69-11.79z"/>
    </symbol>
    <symbol id="mail" viewBox="0 0 550 433">
        <path d="M501.35 433a47.09 47.09 0 0 0 32.24-12.16L377.5 264.74c-3.74 2.68-7.37 5.29-10.8 7.77q-17.52 12.91-28.44 20.13T309.2 307.4q-18.15 7.54-33.82 7.53h-.61q-15.68 0-33.82-7.53t-29.05-14.76q-10.92-7.22-28.44-20.13c-3.26-2.39-6.87-5-10.77-7.81L16.55 420.84A47.1 47.1 0 0 0 48.8 433zM30.66 166.45A163 163 0 0 1-.4 139.69v237.49l137.58-137.57Q95.9 210.78 30.66 166.45zm489.14 0Q457 209 413 239.66l137.54 137.53v-237.5a169.67 169.67 0 0 1-30.74 26.76z"/>
        <path d="M501.35.12H48.8q-23.68 0-36.43 16t-12.76 40q0 19.37 16.91 42t36 35.51q10.45 7.38 63 43.81c18.92 13.11 35.38 24.54 49.52 34.4 12.05 8.4 22.45 15.67 31 21.71 1 .69 2.53 1.8 4.59 3.27l8.48 6.11q10 7.23 16.6 11.69t16 10a93.27 93.27 0 0 0 17.68 8.3 48.92 48.92 0 0 0 15.37 2.77h.61a48.94 48.94 0 0 0 15.37-2.77 93.06 93.06 0 0 0 17.68-8.3q9.37-5.54 16-10T341 242.84c3.45-2.5 6.26-4.52 8.47-6.1 2.06-1.48 3.61-2.58 4.6-3.27l31.11-21.62q38.23-26.56 112.77-78.3a146.23 146.23 0 0 0 37.51-37.81q15-22.13 15.06-46.42a47.17 47.17 0 0 0-14.6-34.75Q521.33.12 501.35.12z"/>
    </symbol>
    <symbol id="arrow_right" viewBox="0 0 269 185">
        <path d="m265.25 83.66-80-80a12.5 12.5 0 0 0 -17.68 17.68l58.67 58.66h-213.66a12.5 12.5 0 0 0 0 25h213.66l-58.66 58.66a12.5 12.5 0 0 0 17.68 17.68l80-80a12.5 12.5 0 0 0 -.01-17.68z"/>
    </symbol>
    <symbol id="chevron_left" viewBox="0 0 177 310">
      <path d="m2.59 160.3 147.07 147.07a7.5 7.5 0 0 0 10.61 0l14.14-14.14a7.5 7.5 0 0 0 0-10.61l-127.63-127.62 127.63-127.63a7.5 7.5 0 0 0 0-10.61l-14.14-14.13a7.5 7.5 0 0 0 -10.61 0l-147.07 147.07a7.5 7.5 0 0 0 0 10.6z"/>
    </symbol>
    <symbol id="play" viewBox="0 0 54 54">
      <path d="m2 2h50v50h-50z" fill="none" stroke="#fff" stroke-width="4"/><path d="m36 27-15 11v-22z" fill="#fff"/>
    </symbol>