.questions
  &__item
    margin-top: 15px

    &--active
      & ^[0]__question
        border-color $blue
        color: $blue
        font-weight: 600
        @media (max-width: $breakpoint-sm)
          font-weight: 400

        svg
          transform translateY(-50%) rotate(90deg)

      & ^[0]__answer
        max-height none

  &__question
    position: relative;
    border: 1px solid #D9D9D9;
    padding: 20px 25px
    font-size: 18px
    padding-right: 80px
    cursor: pointer;
    @media (max-width: $breakpoint-sm)
      padding: 15px 10px
      font-size: 16px
      padding-right: 50px

    svg
      position: absolute;
      right: 35px
      top: 50%
      transform translateY(-50%) rotate(-90deg)
      fill: $blue
      width: 18px
      height: 18px
      anim()
      @media (max-width: $breakpoint-sm)
        width: 15px
        height: 15px
        right: 18px

  &__head
    *:last-child
      margin-bottom: 0

  &__answer
    max-height: 0;
    overflow: hidden;
    anim(.3s);

  &__inner
    padding: 35px 20px
    font-size: 16px
    @media (max-width: $breakpoint-sm)
      font-size: 14px
      padding: 25px 0 0

    *:last-child
      margin-bottom: 0
