.questions.block
  .c
    .blockHeader
      .blockHeader__title FAQ
      a.blockHeader__aside.blockHeader__aside--sm(href='#') #[span ❯]
      a.blockHeader__aside(href='#') Смотреть все #[span ❯]

    each question, i in ['Кому не нужно проходить обучение по охране труда?', 'Необходимо ли провести внеплановую СОУТ при переводе сотрудника из одного цеха в другой без изменений трудовых функций и технологического процесса? (На первом рабочем месте спецоценку провели, а второе – новое, СОУТ не проведена).']
      .questions__item
        .questions__question
          .questions__head=question
          svg: use(xlink:href="#chevron_left")
        .questions__answer
          .questions__inner
            p Производственный контроль – комплекс мероприятий (лабораторных исследований и испытаний) за соблюдением санитарно-эпидемиологических требований на рабочем месте при работе с оборудованием (если оно есть).
            p Закон № 52-ФЗ и Санитарные правила СП 1.1.1058-01 устанавливают: ПК обязателен для всех компаний (ИП – не исключение), сюда же относится и разработка программы производственного контроля (ППК).
            p Для некоторых исследований нужен комплекс лабораторных измерений, а их могут проводить только аккредитованные лаборатории.
            p Во избежание рисков рекомендуем обращаться к услугам специализированных организаций, которые имеют в своей структуре официальную лабораторию.
            p Узнайте больше о ПК и закажите бесплатную консультацию.
