.estimate
  .c
    .estimate__container
      svg.estimate__icon: use(xlink:href="#calculator")
      .estimate__text ПОЛУЧИТЬ СМЕТУ
      a.estimate__button.bigBtn.bigBtn--white.popup__opener(href='#') ПОЛУЧИТЬ
