extends ../pug/_layout
include ../modules/bulletsList/bulletsList

block body
  include ../modules/eventHead/eventHead
  .c.content
    h2 О КУРСЕ
    p Лето осталось позади, уже пролетела треть осени, и зима совсем не за горами! Зимний период сопровождается серьезными опасностями - низкие температуры, гололед, ветер, метель и другие природные аномалии. Это создает угрозу для здоровья и жизни сотрудников! Пора активно готовиться к зиме и предпринять необходимые меры для предотвращения несчастных случаев, связанных с холодным временем года. На вебинаре мы подробно расскажем, как правильно зимой организовать безопасные работы, подобрать СИЗ и подготовить работников!
    h2 КОМУ БУДЕТ ПОЛЕЗЕН КУРС?
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случ
    .bullets
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Руководителям
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Специалистам по охране труда
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Мастерам и работникам
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Руководителям
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Специалистам по охране труда
    p Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле.
    .banner(style='background-image: url(images/OHRANA_TRUDA_23_16033008.jpg)')
      .c.banner__row
        .banner__content
          .banner__label Помогите своим сотрудникам быть защищенными в холодное время года!
          .title.banner__title УЧАСТИЕ В ВЕБИНАРЕ БЕСПЛАТНОЕ
        .banner__aside
          .btn.btn--block.btn--big.btn--yellow ОСТАВИТЬ ЗАЯВКУ
          .btn.btn--block.btn--big.btn--filled НАЗВАНИЕ
    h2 ЧТО ПОЛУЧАТ УЧАСТНИКИ?
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случ
    .cards
      .cards__item: .cards__content
        img.cards__image(src = 'images/leader1.png')
        .cards__text Видеозапись вебинара
      .cards__item: .cards__content
        img.cards__image(src = 'images/leader1.png')
        .cards__text Презентацию спикера
      .cards__item: .cards__content
        img.cards__image(src = 'images/leader1.png')
        .cards__text Ответы на интересующие#[br]вопросы
      .cards__item: .cards__content
        img.cards__image(src = 'images/leader1.png')
        .cards__text Видеозапись вебинара
    p Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле.
    .speaker
      h2 ПОДЕЛИТСЯ ОПЫТОМ
      .speaker__name #[b Ложкин] Игорь Эдуардович
      .speaker__description
        ul
          li преподаватель Учебного центра SRG-ECO
          li кандидат технических наук
          li ведущий эксперт в области условий и охраны труда
      .speaker__image: img(src='images/фото.jpg')
    h2 ГДЕ И КАК БУДЕТ ПРОХОДИТЬ ОБУЧЕНИЕ?
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случ
    .bullets.bullets--column
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text Обучение пройдет в #[b очном формате]: слушатели будут приглашены в Учебный центр SRG
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text
          | Учебный центр SRG находится в Москве в БЦ «Переведеновский»#[br]
          | по адресу #[a(href='#'): b Переведеновский переулок д.13 стр 18., каб. 306]
      .bullets__item: .bullets__content
        img.bullets__image(src = 'images/leader1.png')
        .bullets__text #[b Обязательное требование к слушателям] – наличие высшего или среднего профессионального образования и желание учиться!
    p Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле.
    h2 ЧТО НУЖНО, ЧТОБЫ СТАТЬ УЧАСТНИКОМ?
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случ
    .steps
      .steps__item
        .steps__header
          .steps__number 01
          .steps__title Зарегистрироваться
        .steps__sub Заполните форму регистрации, чтобы забронировать место.
      .steps__item
        .steps__header
          .steps__number 02
          .steps__title Оплатить
        .steps__sub Произвести оплату можно от юрлица(по счету) или от физлица (онлайн).
      .steps__item
        .steps__header
          .steps__number 03
          .steps__title Приехать в УЦ получать знания
        .steps__sub В назначенное время прибыть в Учебный центр SRG
      .steps__item
        .steps__header
          .steps__number 02
          .steps__title Оплатить
        .steps__sub Произвести оплату можно от юрлица(по счету) или от физлица (онлайн).
      .steps__item
        .steps__header
          .steps__number 03
          .steps__title Приехать в УЦ получать знания
        .steps__sub В назначенное время прибыть в Учебный центр SRG
    p Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле.

    .registerForm.registerForm--withLabel
      .c.registerForm__row
        .registerForm__content
          .registerForm__label Курс повышения квалификации (очный)
          .title.registerForm__title ИНСТРУКТОР МАССОВОГО ОБУЧЕНИЯ НАВЫКАМ ПЕРВОЙ ПОМОЩИ
          .registerForm__text
            | Успейте записаться на курс лучшего практика по первой помощи!#[br]
            b 28 сентября (понедельник) регистрационная форма будет закрыта
          .registerForm__date
            .registerForm__icon: svg: use(xlink:href="#calendar")
            | 29 сентября 2020
        .registerForm__aside.
          <script id="bx24_form_inline" data-skip-moving="true">
          (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
          (w[b].forms=w[b].forms || []).push(arguments[0])};
          if(w[b]['forms']) return;
          var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
          var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
          })(window,document,'https://bitrix24.srg-eco.ru/bitrix/js/crm/form_loader.js','b24form');

          b24form({"id":"70","lang":"ru","sec":"tmojfi","type":"inline"});
          </script>
    h2 ПРОГРАММА
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случ

    .program
      a.program__link(href='#')
        svg: use(xlink:href="#download")
        | СКАЧАТЬ ПРОГРАММУ
      .program__headers
        .program__header.program__header--active 14 ОКТЯБРЯ 2020
        .program__header 15 ОКТЯБРЯ 2020
      .program__bodies
        .program__body.program__body--active
          .program__item
            .program__head
              .program__time 09:30 - 10:00
              .program__title Регистрация участников, утренний кофе
              svg.program__arrow: use(xlink:href="#chevron_left")
            .program__text: .program__inner
              ul
                li Травмы различных частей тела: живота, груди, головы, глаза, носа, позвоночника, таза, конечностей
                li Термические травмы: ожоги, отморожение и другие последствия воздействия температур
                li Пищевые отравления (токсикоинфекции)
                li Отравления химическими веществами
                li Воздействия электрического тока
              p Продолжим подробно изучать наиболее встречающиеся несчастные случаи и прорабатывать на практике приемы оказания первой помощи.

          .program__item
            .program__head
              .program__time 10:00 - 12:00
              .program__title Пленарная сессия. Устойчивое развитие промышленной России

          .program__item
            .program__head
              .program__time 12:00 - 12:30
              .program__title Кофе-брейк
            .program__text: .program__inner
              ul
                li Травмы различных частей тела: живота, груди, головы, глаза, носа, позвоночника, таза, конечностей
                li Термические травмы: ожоги, отморожение и другие последствия воздействия температур
                li Пищевые отравления (токсикоинфекции)
                li Отравления химическими веществами
                li Воздействия электрического тока
              p Продолжим подробно изучать наиболее встречающиеся несчастные случаи и прорабатывать на практике приемы оказания первой помощи.

        .program__body
          .program__item
            .program__head
              .program__time 09:30 - 10:00
              .program__title Регистрация участников, утренний кофе
            .program__text: .program__inner
              ul
                li Травмы различных частей тела: живота, груди, головы, глаза, носа, позвоночника, таза, конечностей
                li Термические травмы: ожоги, отморожение и другие последствия воздействия температур
                li Пищевые отравления (токсикоинфекции)
                li Отравления химическими веществами
                li Воздействия электрического тока
              p Продолжим подробно изучать наиболее встречающиеся несчастные случаи и прорабатывать на практике приемы оказания первой помощи.

          .program__item
            .program__head
              .program__time 10:00 - 12:00
              .program__title Пленарная сессия. Устойчивое развитие промышленной России

    p Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле.




  //include modules/eventButtons/eventButtons
  //include modules/eventKeys/eventKeys
  //include modules/eventSpeakers/eventSpeakers
  //include modules/eventProgram/eventProgram
  //+bulletsList('ДЛЯ КОГО')
  //include modules/eventFormat/eventFormat
  //include modules/eventStream/eventStream
  //include modules/eventPartners/eventPartners
  //include modules/eventMap/eventMap
  //include modules/eventForm/eventForm
  //
  //include modules/newsMenu/newsMenu
  //include modules/form/formNews
