extends ../pug/_layout
include ../modules/cardsList/cardsList
include ../modules/achievements/achievements

block body
  include ../modules/frontSlider/frontSlider
  include ../modules/facts/facts
  //include ../modules/cases/cases
  //include ../modules/popularServices/popularServices
  //include ../modules/eventsCalendar/eventsCalendar
  //include ../modules/pressCenter/pressCenter
  //include ../modules/importantInfo/importantInfo
  //include ../modules/clients/clients
  //include ../modules/testimonials/testimonials
  //include ../modules/documents/documents
  //include ../modules/questions/questions
  //include ../modules/review/review

  //include modules/problems/problems
  //include modules/relatedEvents/relatedEvents
  //+achievements(true)
  //include modules/form/formEstimate1
  //include modules/clients/clients
  //+cardsList('НОВОСТИ ОТРАСЛИ', 'ВСЕ НОВОСТИ', true)
  //include modules/form/formEstimate2
