extends ../pug/_layout
include ../modules/hero/hero
include ../modules/licenses/licenses
include ../modules/bulletsList/bulletsList
include ../modules/cardsList/cardsList

block body
  +hero('Культура безопасности', 'Охрана труда', 'Культура безопасности на предприятии - основа в современной экономике страны', true)
  include ../modules/serviceOrder/serviceOrder
  include ../modules/needs/needs
  //+bulletsList('КОМУ НЕОБХОДИМА УСЛУГА')
  include ../modules/includes/includes
  //+bulletsList('В УСЛУГУ ВХОДИТ', true)
  include ../modules/form/formEstimate1
  include ../modules/estimate/estimate
  include ../modules/fines/fines
  include ../modules/workSteps/workSteps
  +licenses('РАЗРЕШИТЕЛЬНАЯ ДОКУМЕНТАЦИЯ')
  include ../modules/result/result
  include ../modules/advantages/advantages
  include ../modules/clientsSlider/clientsSlider
  include ../modules/faq/faq
  include ../modules/interest/interest
  +cardsList('МЕРОПРИЯТИЯ ПО ТЕМЕ', null, false, true, true, true)
  +cardsList('НОВОСТИ ОТРАСЛИ', null, true, true, false, false)
  include ../modules/newsMenu/newsMenu
  include ../modules/form/formAbout
