a.eventCard(href='#')
  .eventCard__img(style='background-image: url(images/OHRANA_TRUDA_23_16033008.jpg)')
    .eventCard__date 21 октября
    .eventCard__label Вебинар
  .eventCard__content
    .eventCard__title Название мероприятия
    .eventCard__bullets
      .eventCard__bullet
        svg: use(xlink:href="#clock2")
        | 11.00 (мск)
      .eventCard__bullet
        svg: use(xlink:href="#rub")
        | Бесплатно
    .eventCard__text Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
    .eventCard__footer
      .eventCard__more
        | ПОДРОБНЕЕ #[span ❯]
