.newsCategories
  .c
    ul
      li: a(href='#') КОРПОРАТИВНЫЕ НОВОСТИ
      li.current_page_item: a(href='#') НОВОСТИ ОХРАНЫ ТРУДА
      li: a(href='#') НОВОСТИ ЭКОЛОГИИ
      li: a(href='#') НОВОСТИ УЧЕБНОГО ЦЕНТРА
