.cookies
  .cookies__text #[b Мы используем файлы cookie. ]Пользуясь настоящим веб-сайтом, Вы даете свое согласие на использование файлов cookies. #[a( href='#') Узнать подробнее]
  button.cookies__button OK
