.breadcrumbs
  font-size: 11px
  line-height: 19px
  @media (max-width: $breakpoint-sm)
    font-size: 9px
    line-height: 17px
  a
    padding-bottom: 2px

  .sep
    display: inline
    margin: 0 7px