include ../slider/slider

.advantages
  .c
    .advantages__inner
      h2.advantages__title #[.link ПРЕИМУЩЕСТВА РАБОТЫ] С НАМИ

      +slider()(data-slider='{"0":{"slidesPerView":1, "spaceBetween":10},"768":{"slidesPerView":2, "spaceBetween":20},"992":{"slidesPerView":3},"1200":{"slidesPerView":4}}')
        .advantages__item.slider__slide: +card()
          .advantages__image: img(src="modules/problems/binoculars.png")
          .advantages__text Название#[br] преимущества
        .advantages__item.slider__slide: +card()
          .advantages__image: img(src="modules/problems/binoculars.png")
          .advantages__text Название#[br] преимущества
        .advantages__item.slider__slide: +card()
          .advantages__image: img(src="modules/problems/binoculars.png")
          .advantages__text Название#[br] преимущества
        .advantages__item.slider__slide: +card()
          .advantages__image: img(src="modules/problems/binoculars.png")
          .advantages__text Название#[br] преимущества
        .advantages__item.slider__slide: +card()
          .advantages__image: img(src="modules/problems/binoculars.png")
          .advantages__text Название#[br] преимущества
