.relatedEvents
  .c: h2.relatedEvents__title МЕРОПРИЯТИЯ ПО ТЕМЕ

  .relatedEvents__slider
    .relatedEvents__slides
      div: .c
        a.relatedEvents__slide(href='#')
          .relatedEvents__content
            h3.relatedEvents__header Заголовок события
            p.relatedEvents__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.

            div.relatedEvents__register
              |ЗАРЕГИСТРИРОВАТЬСЯ
              svg: use(xlink:href="#arrow_right")

          .relatedEvents__image(style='background-image: url(https://source.unsplash.com/random/570x420?random&1)')

      div: .c
        a.relatedEvents__slide(href='#')
          .relatedEvents__content
            h3.relatedEvents__header Заголовок события
            p.relatedEvents__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.

            div.relatedEvents__register
              |ЗАРЕГИСТРИРОВАТЬСЯ
              svg: use(xlink:href="#arrow_right")

          .relatedEvents__image(style='background-image: url(https://source.unsplash.com/random/570x420?random&2)')

    .c.relatedEvents__controls: .relatedEvents__controls-inner
      button.relatedEvents__arrow.relatedEvents__arrow--left: svg: use(xlink:href="#arrow_right")
      button.relatedEvents__arrow.relatedEvents__arrow--right: svg: use(xlink:href="#arrow_right")

  .c.relatedEvents__link: a.relatedEvents__all(href='#') КАЛЕНДАРЬ МЕРОПРИЯТИЙ


