.bulletsList
  padding: 80px 0
  @media (max-width: $breakpoint-sm)
    padding: 38px 0 40px

  &--grey
    background: $grey-bright

  &__title
    text-align: center
    margin-bottom: 43px
    padding: 0 10px
    @media (max-width: $breakpoint-sm)
      margin-bottom: 35px

  &__items
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
    align-items: stretch
    justify-content: center
    @media (max-width: $breakpoint-sm)
      margin: 0
      flex-direction: column
      align-items: center

  &__item
    width: 25%
    //flex: 1
    //min-width: 25%
    //max-width: 50%
    padding: 10px
    min-height: 215px
    display: flex
    flex-direction: column
    @media (max-width: $breakpoint-sm)
      width: 100%
      min-height: auto
      padding: 0
      margin-bottom: 15px

    .card__inner
      background: $white

  &__image
    height: 130px
    display: flex
    align-items: center
    justify-content: center
    @media (max-width: $breakpoint-sm)
      height: 100px

  &__text
    text-align: center
    font-size: 13px
    line-height: 19px
    flex: 1
    display: flex
    align-items center
    justify-content center
    padding: 0 10px 10px
    @media (max-width: $breakpoint-sm)
      font-size: 11px
      br
        display: none