.eventKeys
  .c: .eventKeys__inner
    h2.eventKeys__title КЛЮЧЕВЫЕ ТЕМЫ СЕМИНАРА
    .eventKeys__items
      .eventKeys__item: .eventKeys__content
        .eventKeys__image(style='background-image: url(https://source.unsplash.com/random/273x175?random&1)')
        .eventKeys__text Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      .eventKeys__item: .eventKeys__content
        .eventKeys__image(style='background-image: url(https://source.unsplash.com/random/273x175?random&2)')
        .eventKeys__text Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      .eventKeys__item: .eventKeys__content
        .eventKeys__image(style='background-image: url(https://source.unsplash.com/random/273x175?random&3)')
        .eventKeys__text Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      .eventKeys__item: .eventKeys__content
        .eventKeys__image(style='background-image: url(https://source.unsplash.com/random/273x175?random&4)')
        .eventKeys__text Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
