include ../card/card

.eventFormat
  .c: .eventFormat__inner
    .eventFormat__title: h2: .link ФОРМАТ УЧАСТИЯ
    .eventFormat__items
      .eventFormat__item: +card()
        .eventFormat__head
          .eventFormat__name Онлайн
          .eventFormat__price 12 000 руб.
        .eventFormat__body: .eventFormat__content
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          p natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          button.bigBtn ЗАРЕГИСТРИРОВАТЬСЯ

      .eventFormat__item: +card()
        .eventFormat__head
          .eventFormat__name Офлайн
          .eventFormat__price 38 000 руб.
        .eventFormat__body: .eventFormat__content
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          p natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          button.bigBtn ЗАРЕГИСТРИРОВАТЬСЯ
