.notFound
  .notFound__inner
    .c.notFound__content
      .notFound__left
        img.notFound__logo(src='modules/header/menu-logo.png')
        .notFound__message
          | Если Вы считаете, что произошла ошибка, сообщите, пожалуйста, по адресу #[a(href='#') feedback-eco@srgroup.ru]
      .notFound__center
        h1.notFound__title 404
        h2.notFound__subtitle К сожалению, этой страницы не существует!
      .notFound__right
        .notFound__menu
          ul
            li: a(href='#') ГЛАВНАЯ СТРАНИЦА
            li: a(href='#') УСЛУГИ ПО ОХРАНЕ ТРУДА
            li: a(href='#') НОВОСТИ
            li: a(href='#') МЕРОПРИЯТИЯ

    .c
      .notFound__search.search.search--static
        form.search__content
          input.search__input(placeholder='Введите ваш запрос')
          button.search__button: svg: use(xlink:href="#magnifier")

  img.notFound__image(src='modules/notFound/notFound-bg.jpg')
