.streamShare
  h2.streamShare__title Поделиться
  .streamShare__links
    a.streamShare__link(href='#')
      .streamShare__icon.streamShare__icon--tg: svg: use(xlink:href="#telegram")
      .streamShare__name Telegram
    a.streamShare__link(href='#')
      .streamShare__icon.streamShare__icon--wa: svg: use(xlink:href="#whatsapp")
      .streamShare__name Telegram
    a.streamShare__link(href='#')
      .streamShare__icon.streamShare__icon--vk: svg: use(xlink:href="#vk")
      .streamShare__name Вконтакте
    a.streamShare__link(href='#')
      .streamShare__icon.streamShare__icon--fb: svg: use(xlink:href="#fb")
      .streamShare__name Facebook
    //a.streamShare__link(href='#')
    //  .streamShare__icon.streamShare__icon--ok: svg: use(xlink:href="#ok")
    //  .streamShare__name Одноклассники
    a.streamShare__link(href='#')
      .streamShare__icon.streamShare__icon--email: svg: use(xlink:href="#mail")
      .streamShare__name E-mail

  .streamShare__copy
    .streamShare__input
      .streamShare__href https://srg-eco.ru/news/grazhdane-s-invalidnostyu-smogut-bystree-poluchat-uslugi-tsr/
    button.streamShare__button(data-clipboard-target=".streamShare__href") Скопировать
