.eventButtons
  .c: .eventButtons__inner
    .eventButtons__items
      .eventButtons__item: .eventButtons__content
        .eventButtons__number 2
        .eventButtons__text  дня
      .eventButtons__item: .eventButtons__content
        .eventButtons__number 10
        .eventButtons__text  спикеров
      .eventButtons__item: .eventButtons__content
        .eventButtons__number 240
        .eventButtons__text  участников

    .eventButtons__buttons
      button.bigBtn ОНЛАЙН ТРАНСЛЯЦИЯ
      button.bigBtn ПРОГРАММА СЕМИНАРА
      button.bigBtn ЗАРЕГИСТРИРОВАТЬСЯ
