.press
  .c
    .press__container
      .press__content
        p Учебный центр SRG специализируется на проведении программ повышения квалификации и профессионального обучения руководителей и специалистов различных сфер деятельности. Обучение проходит в форме семинаров, тренингов, практических курсов. Занятия проводятся как в аудитории Учебного центра или на территории Заказчика, так и дистанционно.
        p Мы не ограничиваемся стандартными образовательными программами – при формировании курса наши специалисты уделяют особое внимание задачам и целям клиентов, адаптируя каждую программу под конкретного Заказчика. Индивидуальный подход делает процесс обучения еще более интересным и эффективным.
        p и прошедшим итоговое тестирование, выдаются документы установленного образца: сертификат, удостоверение, диплом.
        p и прошедшим итоговое тестирование, выдаются документы установленного образца: сертификат, удостоверение, диплом.
        p и прошедшим итоговое тестирование, выдаются документы установленного образца: сертификат, удостоверение, диплом.

      .press__card
        .press__avatar: img(src='https://source.unsplash.com/random/150x150?random')
        .press__name Екатерина Брюзгина
        .press__position Руководитель отдела маркетинга и PR
        .press__contacts
          | +7 (495) 260-11-47, доб. 5
          br
          | +7 (495) 260-11-47
        a(href='#') hr@eactt.ru
