.press
  padding: 80px 0 0

  &__container
    display: flex;
    align-items flex-start
    @media (max-width: $breakpoint-md)
      flex-direction column


  &__content
    max-width 700px
    line-height: 1.55
    @media (max-width: $breakpoint-md)
      max-width none

  &__card
    max-width 350px
    margin-left: auto;
    border: 1px solid #E5E5E5;
    padding: 50px 20px
    text-align: center;
    @media (max-width: $breakpoint-md)
      margin: 40px auto 0

  &__avatar
    border-radius: 50%
    margin: 0 auto 25px
    width: 150px
    height: 150px
    overflow: hidden;

    img
      width: 100%
      height: 100%

  &__name
    font-size: 1.15em
    font-weight: 600
    color: $blue;
    margin-bottom: 5px

  &__position
    color: #878787

  &__contacts
    margin: 20px 0
    font-size: 1.15em
    color: $blue
