.clients
  background: $grey-bright
  border-top: 1px solid $grey-middle
  padding: 80px 0
  position: relative
  margin-top: 55px
  @media (max-width: $breakpoint-sm)
    padding: 40px 0
    margin-top: 33px

  &__item
    height: 163px

  &__image
    position: absolute
    left: 50%
    top: 60px
    max-width 90%
    transform: translate(-50%, -50%)

  &__text
    position: absolute
    top: 129px
    font-weight: 500
    padding: 0 20px
