.clients {

  &__content {
    position: relative;
  }

  &__slider {
    overflow: hidden;
  }

  &__items {
    display: flex;
  }

  &__item {
    flex-shrink 0
    width: 20%
    display: flex;
    align-items center
    justify-content center
    height: 120px

    img {
      max-width 100%;
      max-height 100%;
      width: auto;
      height: auto;
    }
  }

}
