include ../slider/slider
include ../card/card

.clients.block
  .c
    .blockHeader
      .blockHeader__title КЛИЕНТЫ
      a.blockHeader__aside.blockHeader__aside--showSm(href='#') Смотреть все #[span ❯]

    .clients__content
      .clients__slider
        .clients__items
          each i in [1,2,3,4,5,6]
            .clients__item
              img(src=`modules/clients/${i}.png`)

      .nav
        button.nav__button.nav__button--prev: svg: use(xlink:href="#chevron_left")
        button.nav__button.nav__button--next: svg: use(xlink:href="#chevron_left")
    .nav__pagination
