.header
  +crit('header.css')
    &
      display: block;

    ul
      padding: 0
      margin: 0

      li
        &:before
          display none

  +crit('header.css')
    &__placeholder
      height: 105px
      @media (max-width: $breakpoint-sm)
        height: 60px

  &__wrapper
    +crit('header.css')
      &
        position: absolute;
        left: 0
        width: 100%

    &--fixed
      position: fixed;
      top: 0
      z-index: 3

  +crit('header.css')
    &__container
      position: relative;
      height: 105px
      z-index: 3
      background: #ffffff
      box-shadow: 0 5px 20px rgba(#000, .1)

      @media (max-width: $breakpoint-sm)
        height: 60px
      //padding: 0 20px

      > .c
        height: 100%
        display: flex
        align-items: center

  //&:before
  //  content: ''
  //  display: block
  //  background: #ffffff
  //  position: absolute
  //  left: 0
  //  top: 0
  //  right: 0
  //  bottom: 0
  //  box-shadow: 0 5px 20px rgba(#000, .1)
  //  z-index: 1
  //
  //> *
  //  z-index: 2

  +crit('header.css')
    &__logo
      //margin-right: 16px
      min-width: 0
      background-image: none;
      margin-right: auto
      padding-bottom: 0
      flex-shrink 0
      @media (max-width: $breakpoint-sm)
        margin-right: 0
        flex-shrink 1

      img
        max-width: 100%
        height: auto;
        @media (max-width: $breakpoint-sm)
          max-height 45px

  &__text
    white-space: nowrap
    font-size: 11px
    line-height: 2
    margin-right: auto
    @media (max-width: $breakpoint-sm)
      font-size: 7px

  &__items
    +crit('header.css')
      &
        flex: 1
        display: flex
        justify-content: center
        align-self: stretch
        @media (max-width: $breakpoint-sm)
          display: none;

    > ul
      +crit('header.css')
        &
          height: 100%
          display: flex
          align-items: stretch

      > li
        +crit('header.css')
          &
            margin: 0 12px
            display: flex
            align-items: center
            position: static
            +header-small()
              margin: 0 6px

            &.wrap
              .sub-menu
                flex-wrap wrap

        +crit('header.css')
          &.current-menu-ancestor, &.current-menu-item
            > a
              color: $blue

        &.menu-item-has-children
          & > a
            &:before
              content: ''
              position: absolute
              width: 0;
              height: 0;
              border-style: solid;
              //border-width: 0 11px 10px;
              border-width: 0 11px 0px 11px;
              border-color: transparent transparent #eaeaea transparent
              bottom: 0
              margin-bottom: -41px
              left: 50%
              margin-left: -11px - 8px
              pointer-events none
              //opacity: 0
              anim()
              +header-small()
                margin-bottom: -43px

          +crit('header.css')
            &.menu-item-active
              > a
                &:before
                  border-width: 0 11px 10px;

              &:before
                content: ''
                opacity: 0
                pointer-events: none
                position: fixed
                top: 110px
                bottom: 0
                left: 0
                right: 0
                background: rgba(0, 0, 0, .5)
                anim()

              //&:after
              //  content: ''
              //  position: absolute
              //  width: 0;
              //  height: 0;
              //  border-style: solid;
              //  border-width: 0 11px 0px 11px;
              //  border-color: transparent transparent #eaeaea transparent
              //  bottom: 0
              //  left: 50%
              //  margin-left: -11px - 8px
              //  //opacity: 0
              //  anim()

              & ^[0]__submenu
                display: block
                opacity: 0

              > a
                color: $blue

          &.menu-item-active
            &:after
              background-image: url(../../images/sprite-arrow-up.svg)

          +crit('header.css')
            &.menu-item-active-done
              &:before
                opacity: 1

              &:after
                //opacity: 1
                border-width: 0 11px 10px 11px;


              & ^[0]__submenu
                //transform: translateY(0)
                opacity: 1

          +crit('header.css')
            & > a
              &:after
                content: ''
                display: inline-block

                width: 9px
                height: 9px
                margin-left: 8px

          & > a:after
            background: url(../../images/sprite-arrow-down.svg) 50% 50% no-repeat

        +crit('header.css')
          > a
            position: relative;
            color: $black
            text-decoration: none
            display: block
            font-weight: 600
            z-index: 1
            white-space: nowrap
            anim()
            +header-small()
              font-size: 9px

            &:not(:hover)
              background-image: none

            &:hover
              color: $blue

        ^[0]__submenu
          +crit('header.css')
            &
              display: none
          position: absolute;
          top: 100%
          left: 0
          width: 100%
          background: #ffffff
          border-bottom: 1px solid #f3f3f3;
          overflow: hidden
          align-items: flex-start
          justify-content center
          padding: 60px 0
          z-index: 1
          //transform: translateY(-20px)
          anim()

          &:hover
            opacity: 1
            pointer-events: all

          &:before
            content: ''
            position: absolute
            top: -20px
            width: 100%
            height: 20px
            box-shadow: 0 5px 20px rgba(#000, .1)

          > .c > ul
            display: grid;
            grid-template-rows: repeat(2, auto);
            gap: 15px;
            grid-auto-flow: column;
            grid-auto-columns: auto;
            padding: 0 15px
            +header-small()
              grid-template-rows: repeat(3, auto);

            > li
              //padding: 0 15px

              > a
                font-size: 15px
                font-weight: 600
                anim()

              > ul
                display: none;
                //margin-top: 30px
                //
                //> li
                //  margin-bottom: 20px
                //
                //  &.current-menu-item > a
                //    color: $blue
                //
                //  > a
                //    font-size: 13px
                //    padding-bottom: 1px
                //    anim()
                //
                //    &:hover
                //      color: $blue
                //
                //
                //  > ul
                //    margin-top: 10px
                //    anim()
                //
                //    > li
                //      margin-bottom: 5px
                //
                //      > a
                //        font-size: 11px
                //        line-height: 16px
                //        padding-bottom: 1px
                //
                //        &:hover
                //          color: $blue

  +crit('header.css')
    &__phones
      display: flex
      flex-direction: column
      //@media (max-width: $breakpoint-sm)
      //  position: fixed
      //  top: 60px
      //  left: 0
      //  width: 100%
      //  background: $blue
      //  flex-direction: row
      //  align-items: center
      //  justify-content: center
      //  height: 40px
      //  box-shadow: 0 5px 20px rgba(#000, .1)
      @media (max-width: $breakpoint-sm)
        flex: 1;
        text-align: center;

  +crit('header.css')
    &__phone
      margin: 0 auto
      padding: 0 10px
      text-decoration: none
      font-size: 22px
      background-image: none
      font-weight: 600
      white-space nowrap
      color: $blue;

      &:last-child
        padding-bottom: 0

      @media (max-width: $breakpoint-sm)
        margin: 0
        padding: 0
        color: $white;
        font-size: 12px

  //&__button
  //  margin-left: 20px
  //  @media (max-width: $breakpoint-md)
  //    display: none

  +crit('header.css')
    &__sub
      position: relative;
      z-index: 4;
      background: $white;
      border-bottom: 1px solid #D9D9D9;
      @media (max-width: $breakpoint-sm)
        border: 0
        background: $blue;

      .c
        display: flex;
        align-items: center
        height: 60px
        @media (max-width: $breakpoint-sm)
          height: 40px

  //padding-top: 10px
  //padding-bottom: 10px

  +crit('header.css')
    &__label
      font-size: 16px
      font-weight: 500
      color: $blue;
      @media (max-width: $breakpoint-sm)
        display: none;

  //font-size: 11px
  //max-width 200px

  &__button
    margin-left: auto;
    height: 30px
    padding-top: 0
    padding-bottom: 0
    @media (max-width: $breakpoint-sm)
      padding: 0
      width: 32px
      height: 32px
      display: flex;
      align-items center
      justify-content center

    span
      @media (max-width: $breakpoint-sm)
        display: none;

    svg
      display: none;
      @media (max-width: $breakpoint-sm)
        display: block;
        width: 14px
        height: 14px

  +crit('header.css')
    &__enter
      flex-shrink 0
      text-decoration: none
      color: $black
      display: flex
      //margin-left: auto;
      align-items center
      font-size: 16px
      font-weight: 600
      background: none;
      padding: 0
      @media (max-width: $breakpoint-sm)
        color: $white;
        font-size: 14px
        margin-left: auto;
        &:hover
          color: $white;

      svg
        width: 31px
        height: 31px
        margin-left: 12px
        @media (max-width: $breakpoint-sm)
          width: 21px
          height: 21px
          margin-left: 6px
