.menu
  .menu__content: .c
    .menu__row
      .menu__col
        .menu__left
          div.menu__level1: a(href='#') КОМПАНИЯ
          div.menu__level3: a(href='#') О нас
          div.menu__level3: a(href='#') История компании
          div.menu__level3: a(href='#') Лицензия и аккредитация
          div.menu__level3: a(href='#') Наша команда
          div.menu__level3: a(href='#') Карьера
          div.menu__level3: a(href='#') Законодательство

          .menu__left-top
            div.menu__level1: a(href='#') ПРОЕКТЫ
            div.menu__level1: a(href='#') СОБЫТИЯ
            div.menu__level1: a(href='#') НОВОСТИ
            div.menu__level1: a(href='#') КОНТАКТЫ

          .menu__left-middle
            .menu__contacts
              a.menu__button.menu__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#whatsapp")
              a.menu__button.menu__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#telegram")
              a.menu__button.menu__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#skype")

          .menu__left-bottom
            .menu__socials-header Мы в социальных сетях
            .menu__socials-button
              a.menu__button.menu__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#vk")
              a.menu__button.menu__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#fb")

        .menu__right
          div.menu__level1: a(href='#') УСЛУГИ
          div.menu__level2: a(href='#') ОХРАНА ТРУДА
          div.menu__level3: a(href='#') Культура безопасности
          div.menu__level3: a(href='#') Система управления профессиональными рисками
          div.menu__level3: a(href='#') Аутсорсинг функций служб охраны труда
          div.menu__level3: a(href='#') Специальная оценка условий труда
          div.menu__level3: a(href='#') Производственный контроль
          div.menu__level2: a(href='#') ЭКОЛОГИЯ
          div.menu__level3: a(href='#') Экологический консалтинг
          div.menu__level3: a(href='#') Аудит
          div.menu__level3: a(href='#') Проектирование
          div.menu__level3: a(href='#') Производственный экологический контроль
          div.menu__level3: a(href='#') Оценка рисков
          div.menu__level3: a(href='#') Консультация
          div.menu__level2: a(href='#') УЧЕБНЫЙ ЦЕНТР

      .menu__aside
        .menu__aside-top
          div.menu__level1: a(href='#' ) ПРОЕКТЫ
          div.menu__level1: a(href='#' ) СОБЫТИЯ
          div.menu__level1: a(href='#' ) НОВОСТИ
          div.menu__level1: a(href='#' ) КОНТАКТЫ

          .menu__socials-header Мы в социальных сетях
          .menu__socials-button
            a.menu__button.menu__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#vk")
            a.menu__button.menu__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#fb")

        .menu__aside-bottom
          div.menu__level3: a(href='#') Техническая поддержка
          div.menu__level3: a(href='#') Политика конфиденциальности
          div.menu__level3: a(href='#') Пользовательское соглашение
          div.menu__level3: a(href='#') Реквизиты компании


    .menu__addresses
      .menu__address
        h6.menu__title: a(href='#') МОСКВА
        .menu__label Адрес
        .menu__text г. Москва, Переведеновский переулок, дом 13 строение 18, Бизнес-центр «Переведеновский», 6 этаж (ст. м. Бауманская)
        .menu__row
          .menu__contact
            .menu__label Тел./факс:
            .menu__text +7 (495) 260-11-47
          .menu__contact
            .menu__label E-mail:
            .menu__text eco@srgroup.ru
        .menu__label График работы:
        .menu__text Пн – Пт: с 9 до 18 Сб – Вс: выходные

      .menu__address
        h6.menu__title: a(href='#') ФИЛИАЛ В САРАТОВЕ
        .menu__label Адрес
        .menu__text 410056, г. Саратов, ул. Астраханская, д. 88
        .menu__row
          .menu__contact
            .menu__label Тел./факс:
            .menu__text +7 (8452) 67-45-41
          .menu__contact
            .menu__label E-mail:
            .menu__text eco@srgroup.ru

      .menu__address
        h6.menu__title: a(href='#') ФИЛИАЛ В НОВОСИБИРСКЕ
        .menu__label Адрес
        .menu__text 630007, г. Новосибирск, ул. Коммунистическая, 35, корпус 3, офис 12, 1 этаж
        .menu__row
          .menu__contact
            .menu__label Тел./факс:
            .menu__text +7 (383) 347-84-87
          .menu__contact
            .menu__label E-mail:
            .menu__text eco@srgroup.ru