footer.footer
  .c.footer__content
    .footer__left
      .footer__logo: img(src=require('src/modules/footer/footer-logo.png'))
      .footer__sm.footer__socials
        .footer__socials-header Мы в социальных сетях
        .footer__socials-button
          a.footer__button.footer__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#vk")
          a.footer__button.footer__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#fb")

      .footer__lg.footer__contacts
        a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#whatsapp")
        a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#telegram")
        a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#skype")

    .footer__menu
      .footer__col-left
        div.footer__level1: a(href='#') КОМПАНИЯ
        div.footer__level3: a(href='#') О нас
        div.footer__level3: a(href='#') История компании
        div.footer__level3: a(href='#') Лицензия и аккредитация
        div.footer__level3: a(href='#') Наша команда
        div.footer__level3: a(href='#') Карьера
        div.footer__level3: a(href='#') Законодательство

        .footer__sm.footer__aside
          div.footer__level1: a(href='#') ПРОЕКТЫ
          div.footer__level1: a(href='#') СОБЫТИЯ
          div.footer__level1: a(href='#') НОВОСТИ
          div.footer__level1: a(href='#') КОНТАКТЫ

          .footer__contacts
            a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#whatsapp")
            a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#telegram")
            a.footer__button.footer__button--contact.btn(href='#' target='_blank'): svg: use(xlink:href="#skype")

      .footer__col-right
        div.footer__level1: a(href='#') УСЛУГИ
        div.footer__level2: a(href='#') ОХРАНА ТРУДА
        div.footer__level3: a(href='#') Культура безопасности
        div.footer__level3: a(href='#') Система управления профессиональными рисками
        div.footer__level3: a(href='#') Аутсорсинг функций служб охраны труда
        div.footer__level3: a(href='#') Специальная оценка условий труда
        div.footer__level3: a(href='#') Производственный контроль
        div.footer__level2: a(href='#') ЭКОЛОГИЯ
        div.footer__level3: a(href='#') Экологический консалтинг
        div.footer__level3: a(href='#') Аудит
        div.footer__level3: a(href='#') Проектирование
        div.footer__level3: a(href='#') Производственный экологический контроль
        div.footer__level3: a(href='#') Оценка рисков
        div.footer__level3: a(href='#') Консультация
        div.footer__level2: a(href='#') УЧЕБНЫЙ ЦЕНТР

    .footer__right.footer__lg
      div.footer__level1: a(href='#') ПРОЕКТЫ
      div.footer__level1: a(href='#') СОБЫТИЯ
      div.footer__level1: a(href='#') НОВОСТИ
      div.footer__level1: a(href='#') КОНТАКТЫ

      .footer__socials
        .footer__socials-header Мы в социальных сетях
        .footer__socials-button
          a.footer__button.footer__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#vk")
          a.footer__button.footer__button--social.btn.btn--filled(href='#' target='_blank'): svg: use(xlink:href="#fb")

  .footer__sub: .c.footer__sub-inner
    a.footer__link(href='#') ТЕХНИЧЕСКАЯ ПОДДЕРЖКА
    a.footer__link(href='#') ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
    a.footer__link(href='#') ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
    a.footer__link(href='#') РЕКВИЗИТЫ КОМПАНИИ
