
.interest(class=grey && 'achievements--grey')
  .c
    h2.interest__title: .link ВАМ МОЖЕТ БЫТЬ ИНТЕРЕСНО

    .interest__items
      .interest__item: .interest__slide
        .interest__image(style='background-image: url(https://source.unsplash.com/random/230x280?random&1)')
        .interest__content
          .interest__text ПРОИЗВОДСТВЕННЫЙ
          .interest__text КОНТРОЛЬ

      .interest__item: .interest__slide
        .interest__image(style='background-image: url(https://source.unsplash.com/random/230x280?random&2)')
          .interest__content
            .interest__text ПРОИЗВОДСТВЕННЫЙ
            .interest__text КОНТРОЛЬ

      .interest__item: .interest__slide
        .interest__image(style='background-image: url(https://source.unsplash.com/random/230x280?random&3)')
        .interest__content
          .interest__text ПРОИЗВОДСТВЕННЫЙ
          .interest__text КОНТРОЛЬ

      .interest__item: .interest__slide
        .interest__image(style='background-image: url(https://source.unsplash.com/random/230x280?random&4)')
        .interest__content
          .interest__text ПРОИЗВОДСТВЕННЫЙ
          .interest__text КОНТРОЛЬ
