.docs
  h2.docs__title ЗАКОНОДАТЕЛЬСТВО
  .c.docs__items
    .docs__item
      .docs__date 22 марта 2019
      .docs__text Документ по экологии такой-то.Очень важные изменения
      .docs__links
        a.docs__link(href='#') СКАЧАТЬ
        a.docs__link(href='#') СМОТРЕТЬ
    .docs__item
      .docs__date 22 марта 2019
      .docs__text Документ по экологии такой-то.Очень важные изменения
      .docs__links
        a.docs__link(href='#') СКАЧАТЬ
        a.docs__link(href='#') СМОТРЕТЬ
    .docs__item
      .docs__date 22 марта 2019
      .docs__text Документ по экологии такой-то.Очень важные изменения
      .docs__links
        a.docs__link(href='#') СКАЧАТЬ
        a.docs__link(href='#') СМОТРЕТЬ
    .docs__item
      .docs__date 22 марта 2019
      .docs__text Документ по экологии такой-то.Очень важные изменения
      .docs__links
        a.docs__link(href='#') СКАЧАТЬ
        a.docs__link(href='#') СМОТРЕТЬ
