.newsSingle
  .c: .newsSingle__inner
    a.newsSingle__back(href='#')
      svg: use(xlink:href="#chevron_left")
      |НАЗАД
    .newsSingle__breadcrumbs
      include ../breadcrumbs/breadcrumbs

    h1.newsSingle__title ЕКАТЕРИНА БРЮЗГИНА ВЫСТУПИЛА НА КОНФЕРЕНЦИИ ПО ОХРАНЕ ТРУДА В САНКТ-ПЕТЕРБУРГЕ
    .newsSingle__date 15 марта 2019

    .newsSingle__share
      a.newsSingle__btn(href='http://vk.com/share.php?title=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=http%3A%2F%2Fsharingbuttons.io'): svg: use(xlink:href="#vk")
      a.newsSingle__btn(href='https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io'): svg: use(xlink:href="#fb")
      a.newsSingle__btn(href='#'): svg: use(xlink:href="#ok")
      a.newsSingle__btn(href='mailto:?subject=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;body=http%3A%2F%2Fsharingbuttons.io'): svg: use(xlink:href="#mail")

    .newsSingle__content
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
      .wp-block-image
        img(src='https://source.unsplash.com/random/1000x500?random&1')
        figcaption ПОДПИСЬ ДЛЯ ФОТОГРАФИИ
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. #[a(href='#') Donec quam felis, ultricies nec, pellentesque eu], pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
      blockquote
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. #[a(href='#') Donec quam felis, ultricies nec, pellentesque eu], pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. #[a(href='#') Donec quam felis, ultricies nec, pellentesque eu], pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
      