extends pug/_layout
include modules/hero/hero

block body
  +hero('Клиенты')
  include modules/clientsList/clientsList
  include modules/clientsMap/clientsMap
  include modules/newsMenu/newsMenu
  include modules/form/formNews
