include ../slider/slider
include ../card/card

mixin licenses(title, link)
  .licenses.block
    .c
      .blockHeader
        .blockHeader__title=title

      .licenses__content
        .licenses__slider
          .licenses__slides
            each i in [1,2,3,4,5,6,7,8]
              .licenses__slide
                a.licenses__item.slider__slide(href=require('src/modules/licenses/licenses_0' + (i % 2 + 1) + '.webp') data-index=0 data-width=1550 data-height=220)
                  .licenses__image: img(src=require('src/modules/licenses/licenses_0' + (i % 2 + 1) + '.webp'))
                  .licenses__text НАЗВАНИЕ ДОКУМЕНТА #{i}
        .licenses__nav.nav
          button.nav__button.nav__button--prev: svg: use(xlink:href="#chevron_left")
          button.nav__button.nav__button--next: svg: use(xlink:href="#chevron_left")
