include ../slider/slider
include ../card/card

.eventSpeakers
  .c
    h2.eventSpeakers__title: .link СПИКЕРЫ СЕМИНАРА

    +slider()(data-slider='{"0":{"items":1},"768":{"items":2},"992":{"items":3},"1200":{"items":4}}')
      .eventSpeakers__slide: +card().card--sm
        .eventSpeakers__image.card__image(style='background-image: url(https://source.unsplash.com/random/230x230?random&1)')
        .card__content
          .card__title Екатерина Брюзгина
          .card__text руководитель проекта SRG

      .eventSpeakers__slide: +card().card--sm
        .eventSpeakers__image.card__image(style='background-image: url(https://source.unsplash.com/random/230x230?random&2)')
        .card__content
          .card__title Екатерина Брюзгина
          .card__text руководитель проекта SRG

      .eventSpeakers__slide: +card().card--sm
        .eventSpeakers__image.card__image(style='background-image: url(https://source.unsplash.com/random/230x230?random&3)')
        .card__content
          .card__title Екатерина Брюзгина
          .card__text руководитель проекта SRG

      .eventSpeakers__slide: +card().card--sm
        .eventSpeakers__image.card__image(style='background-image: url(https://source.unsplash.com/random/230x230?random&4)')
        .card__content
          .card__title Екатерина Брюзгина
          .card__text руководитель проекта SRG

      .eventSpeakers__slide: +card().card--sm
        .eventSpeakers__image.card__image(style='background-image: url(https://source.unsplash.com/random/230x230?random&5)')
        .card__content
          .card__title Екатерина Брюзгина
          .card__text руководитель проекта SRG
