include ../card/card

.eventsCalendar.block: .c
  .blockHeader
    .blockHeader__title Мероприятия
    a.blockHeader__aside.blockHeader__aside--sm(href='#') все #[span ❯]
    a.blockHeader__aside(href='#') Смотреть все #[span ❯]


  .eventsCalendar__content
    .eventsCalendar__event
      .eventsCalendar__head
        .eventsCalendar__label БЛИЖАЙШЕЕ
        .eventsCalendar__nav
          button.eventsCalendar__button.eventsCalendar__button--prev: svg: use(xlink:href="#chevron_left")
          .eventsCalendar__month май 2019
          button.eventsCalendar__button.eventsCalendar__button--next: svg: use(xlink:href="#chevron_left")

      .eventsCalendar__card
        //.eventsCalendar__empty
        //  .eventsCalendar__emptyIcon: svg: use(xlink:href="#clock3")
        //  .eventsCalendar__emptyTitle Мы еще разрабатываем план мероприятий на этот месяц!
        //  .eventsCalendar__emptyText Совсем скоро здесь появится информация: следите за обновлениями.
        include ../eventCard/eventCard

    .eventsCalendar__calendar
      .eventsCalendar__week
        .eventsCalendar__cell ПН
        .eventsCalendar__cell ВТ
        .eventsCalendar__cell СР
        .eventsCalendar__cell ЧТ
        .eventsCalendar__cell ПТ
        .eventsCalendar__cell СБ
        .eventsCalendar__cell ВС
      .eventsCalendar__days
        .eventsCalendar__cell
        .eventsCalendar__cell
        each _, i in (new Array(30).fill(''))
          .eventsCalendar__cell
            if(i === 7 || i === 8 || i === 9 || i === 10 || i === 11)
              a.eventsCalendar__day(href='#')=i + 1
              .eventsCalendar__popup
                .eventsCalendar__title Пожарно-технический минимум Пожарно- технический минимум
                .eventsCalendar__footer
                  span Вебинар
                  span 10.00

            else
              .eventsCalendar__day=i + 1
