.facts.block
  .c
    .blockHeader
      a.blockHeader__title(href='#') Факты о компании
      a.blockHeader__aside(href='#') подробнее о нас #[span ❯]
    .facts__items
      .facts__item
        | #[span 140] сертифицированных эекспертов по СОУТ
      .facts__item
        | #[span > 800] хим. веществ - область аккредитации лабораторий
      .facts__item
        | #[span 25 000] #[br]специалистов обучено
      .facts__item
        | #[span 20 000] успешных проектов разной сложности
      .facts__item
        | #[span > 2 млн] рабочих мест исследовано
      .facts__item
        | #[span Оперативное] ведение работ в любой точке РФ
