.eventStream
  .c: .eventStream__inner
    .eventStream__left
      h2: .link ОНЛАЙН ТРАНСЛЯЦИЯ
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
    .eventStream__right
      .eventStream__video(style='background-image: url(https://source.unsplash.com/random/480x280?random&1)')
        svg: use(xlink:href="#play")