.eventsList
  margin: 80px 0
  @media (max-width: $breakpoint-sm)
    margin: 40px 0

  &--disabled
    & ^[0]__image
      filter: grayscale(1)

    & ^[0]__date
      background: #414141

    & ^[0]__tag
      background: #fff

    & ^[0]__card:hover
      & ^[0]__image
        filter: grayscale(0)

      & ^[0]__date
        background: $blue

      & ^[0]__tag
        background: #F0BC5E

  &__slider
    position: relative;

  &__nav
    position: absolute;
    bottom: 100%
    margin-bottom: 30px
    width: 45px
    height: 45px
    border: 3px solid $blue
    display: flex;
    align-items center
    justify-content center
    anim()
    @media (max-width: $breakpoint-sm)
      display: none;

    &:hover
      background: $blue

      svg
        fill: #ffffff

    svg
      fill: $blue
      width: 15px
      height: 15px
      anim()

    &--next
      right: 0

      svg
        transform rotate(180deg)

    &--prev
      right: 55px


  &__container
    overflow: hidden;
    margin-top: 30px

    &.swiper-container-multirow
      & ^[0]__items
        flex-wrap: wrap;

  &__items
    display: flex;
    @media (max-width: $breakpoint-sm)
      flex-direction: column;

  &__item
    flex-shrink 0
    @media (max-width: $breakpoint-sm)
      width: 100%
      margin-bottom: 15px

  &__card
    display: flex;
    flex-direction column
    border: 2px solid #EEEEEE;
    padding: 0
    background: transparent;
    position: relative;
    height: 100%
    anim()
    @media (max-width: $breakpoint-sm)
      flex-direction row

    &:hover
      border-color: $blue
      color: #000000

  &__head
    flex-shrink 0
    position: relative;

  &__image
    height: 150px
    background-size: cover;
    background-position: 50% 50%;
    anim()
    @media (max-width: $breakpoint-sm)
      height: 100%
      width: 110px

  &__date
    position: absolute;
    right: 0
    top: 20px
    background: $blue
    padding: 4px 5px
    color: #ffffff
    font-size: 20px
    font-weight: 600
    text-transform: uppercase;
    anim()
    @media (max-width: $breakpoint-sm)
      font-size: 12px
      right: auto;
      left: 0
      top: 10px

  &__tag
    position: absolute;
    right: 0
    top: 65px
    background: #F0BC5E
    padding: 5px 10px
    color: #000000
    font-size: 13px
    font-weight: 700
    text-transform: uppercase;
    anim()
    @media (max-width: $breakpoint-sm)
      font-size: 8px
      right: auto;
      left: 0
      top: 40px

  &__body
    padding: 15px 15px 20px
    flex: 1
    @media (max-width: $breakpoint-sm)
      padding: 10px 10px 30px

  &__props
    display: flex;
    align-items center
    margin-bottom: 5px
    flex-wrap wrap

  &__prop
    font-size: 14px
    font-weight: 600
    text-transform: uppercase;
    margin: 5px 60px 5px 0
    display: flex;
    align-items center
    @media (max-width: $breakpoint-sm)
      font-size: 9px

    &:last-child
      margin-right: 0

    svg
      width: 20px
      height: 20px
      fill: $blue
      margin-right: 10px
      flex-shrink 0
      @media (max-width: $breakpoint-sm)
        width: 15px
        height: 15px
        margin-right: 5px

  &__title
    font-size: 16px
    font-weight: 600
    color: $blue
    margin-bottom: 10px
    @media (max-width: $breakpoint-sm)
      font-size: 9px

  &__text
    font-size: 12px
    @media (max-width: $breakpoint-sm)
      font-size: 7px

  &__footer
    padding: 15px
    font-size: 14px
    font-weight: 500
    display: flex;
    align-items center
    @media (max-width: $breakpoint-sm)
      position: absolute;
      right: 0px
      bottom: 0
      font-size: 9px
      padding: 5px

    svg
      width: 12px
      height: 12px
      fill: $blue
      transform rotate(180deg)
      margin-left: 5px
      @media (max-width: $breakpoint-sm)
        width: 8px
        height: 8px

  &__more
    display: none;
    @media (max-width: $breakpoint-sm)
      display: flex;
      justify-content flex-end

    a, button
      display: flex;
      align-items center
      font-size: 9px
      font-weight: 500
      background: none;
      padding: 0
      anim()

      svg
        width: 12px
        height: 12px
        fill: $blue
        transform rotate(180deg)
        margin-left: 5px

      &:hover
        color: $blue
